:root {
  --font-size: 18px;
  --font-weight-normal: 400;
  --font-weight-bold: 550;
  --letter-spacing: 0.5px;
  --row-gap: 2.4rem;
  --color: #000;
  --selection-color: #ffee58;
  --link-color: #0000ff;
  --border-color: #e5e5e5;
}

::selection {
  background: var(--selection-color);
}

html {
  font-family: "Inter", sans-serif;
  font-size: var(--font-size);
  font-weight: var(--font-weight-normal);
  letter-spacing: var(--letter-spacing);
  -webkit-font-smoothing: antialiased;
  color: var(--color);
}

body,
p,
h1 {
  margin: 0;
}

body {
  height: 100vh;
  align-items: center;
  display: grid;
}

main {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 30rem));
  grid-row-gap: var(--row-gap);
  justify-content: center;
}

header {
  display: grid;
  grid-template-columns: repeat(auto-fit, 10rem);
  grid-row-gap: var(--row-gap);
}

h1 {
  font-size: var(--font-size);
  font-weight: var(--font-weight-bold);
}

.logo {
  width: 64px;
  height: 64px;
}

.screen {
  max-width: 200px;
}

.footer {
  color: #ccc;
  font-size: 14px;
  text-align: right;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  border-bottom: 2px solid var(--border-color);
}

aside {
  display: grid;
  grid-row-gap: var(--row-gap);
}

aside img {
  max-width: 8rem;
  margin-top: 1rem;
}

@media only screen and (max-width: 720px) {
  body {
    align-items: flex-start;
  }

  img {
    min-height: auto;
  }
}

@keyframes anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
